@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

/* Define your theme tokens */
@theme {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --tertiary-font: "Open Sans", sans-serif;
  --primary-font-size: 18px;
  --secondary-font-size: 20px;
  --tertiary-font-size: 18px;
  --primary-color: #00bbff;
}

:root {
  --color-bg-dark: #000000;
  --color-bg-glass: rgba(255, 255, 255, 0.1);
  --color-primary: #00bbff;
  --color-secondary: #2B3692;
  --color-accent: #F9AF4B;
  --color-text-light: #ffffff;
  --color-text-muted: #6b7280;
  --color-text-dark: #111827;
  --color-border-light: #e5e7eb;
  --color-sky: #60a5fa;
}

html {
  font-family: var(--secondary-font);
  background: var(--color-bg-dark);
}

/* Add custom reusable components */
@layer components {
  .wrapper {
    @apply max-w-[1500px] relative mx-auto;
  }
  
  .btn {
    @apply bg-[var(--color-secondary)] text-[var(--color-text-light)] rounded-md text-[18px] px-10 py-2.5;
  }

  a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
  }

  .goog-te-combo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='%232B3692' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") 
              no-repeat right 0.75rem center;
  background-size: 1rem;
  padding-right: 2rem; /* make space for arrow */
}

 @media (max-width: 900px) {
    #google_translate_element .goog-te-combo,
    #google_translate_element_mobile .goog-te-combo {
      width: 120px !important;
      padding: 4px 8px !important;
      font-size: 12px !important;
    }
  }
}